* {
    margin: 0;
}

.div1 {
    background-color: #D8D8D8;
    height: 120px;
    padding: 17.5px;
}

.div2 {
    background-color: #FFFFFF;
    height: 245px;
    padding-top: 40px;
    padding-left: 40px;
}

.div3 {
    background-color: #4A90E2;
    height: 155px;
}

.div4 {
    background-color: #50E3C2;
    height: 155px;
}

.div5 {
    background-color: #B8E986;
    height: 155px;
}

.div6 {
    background-color: #F8E71C;
    height: 155px;
}

.tinyBox {
    background-color: #4A90E2;
    height: 100%;
    width: 120px;
}

p {
    font-family: helvetica;
    font-size: 24px;
    line-height: 30px;
    margin: 30px;
}
